*.pyc
*.dxf
.env
/output/batch_validation_summary.json
/output/bin_1_transformed.json
/output/bin_10_transformed.json
/output/bin_11_transformed.json
/output/bin_12_transformed.json
/output/bin_13_transformed.json
/output/bin_14_transformed.json
/output/bin_15_transformed.json
/output/bin_16_transformed.json
/output/bin_17_transformed.json
/output/bin_18_transformed.json
/output/bin_19_transformed.json
/output/bin_2_transformed.json
/output/bin_3_transformed.json
/output/bin_4_transformed.json
/output/bin_5_transformed.json
/output/bin_6_transformed.json
/output/bin_7_transformed.json
/output/bin_8_transformed.json
/output/bin_9_transformed.json
/output_bins.zip
/door_F14P2.pdf
/output_bins.zip
